# See https://eslint.org/docs/latest/use/configure for more information on settings.

root: true
parser: "@typescript-eslint/parser"
extends:
  - eslint:recommended
  - plugin:@typescript-eslint/recommended
  - plugin:prettier/recommended
plugins:
  - "@typescript-eslint"
overrides:
  - env:
      jest: true
    extends:
      - plugin:jest/recommended
    files:
      - "**/*.test.ts"
